body{
  background: white;
  height: 100vh;
  margin: 0;
}

.col1{
  position: fixed;
  width: 50%;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}


.col2{
  width: 50%;
  margin: auto;
  float: right;
}

.img{
  width: 80%;
  margin: auto;
    margin-top: 3em;

}

p.j1{
font-family: 'Roboto', sans-serif;
color: black;
font-size: 55pt;
line-height: 0.9;
text-align: left;
margin: 0;
width: 700px;
}

p.j2{
font-family: 'Roboto', sans-serif;
color: black;
font-size: 13pt;
text-align: left;
font-style: "light 300";
margin: 0;
width: 500px;
}

.mark{
  color: yellow;
}
