body{
  background: black;
}


.col1{
position: fixed;
width: 100%;
margin: auto;
background: black!important;
}

.sign{
  padding: 2em;
  width: 13%;
}

article{
  top: 150px;
  position: relative;
  background: black;
}



.col2{
  width: 50%;
  float: left;
  background: black;

}

.col3{
  width: 50%;
float: right;
background: black;
}

.work{
  width: 85%;
  margin: auto;
}

.line1{
  height: 3px;
  background: white;
}

.title{
  margin-top: -70px;
}

p.j1{
font-family: 'Roboto', sans-serif;
color: white;
font-size: 55pt;
text-align: left;
}



